<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Human</title>
</head>
<body>
<div>
<p th:text ="${person.getName()}">Value</p>
<p th:text ="${person.getPosition()}">Value</p>
<p th:text ="${person.getExperience()}">Value</p>
<p th:text ="${person.getEmail()}">Value</p>
<p th:text ="${person.getDepartment()}">Value</p>
<p th:text ="${person.getId()}">Value</p>
</div>

<form th:method="GET" th:action="@{/tgaz/{id}/edit(id=${person.getId()})}">
    <input type = "submit" value="Edit"/>
</form>
<form th:method="GET" th:action="@{/tgaz/{id}/delete(id=${person.getId()})}">
<input type = "submit" value="Delete"/>
</form>
</body>
</html>